[submodule "submodules/sdk"]
	path = submodules/sdk
	url = https://github.com/thebigfilecom/sdk.git
[submodule "submodules/quill"]
	path = submodules/quill
	url = https://github.com/thebigfilecom/quill.git
[submodule "submodules/interface-spec"]
	path = submodules/interface-spec
	url = https://github.com/thebigfilecom/interface-spec.git
	branch = public
[submodule "submodules/samples"]
	path = submodules/samples
	url = https://github.com/thebigfilecom/examples.git
[submodule "submodules/response-verfication"]
	path = submodules/response-verfication
	url = https://github.com/thebigfilecom/response-verification
