[submodule "submodules/sdk"]
	path = submodules/sdk
	url = https://github.com/thebigfilecom/sdk.git
[submodule "submodules/motoko"]
	path = submodules/motoko
	url = https://github.com/thebigfilecom/motoko.git
[submodule "submodules/quill"]
	path = submodules/quill
	url = https://github.com/thebigfilecom/quill.git
[submodule "submodules/internetidentity"]
	path = submodules/internetidentity
	url = https://github.com/thebigfilecom/big-wallet.git
	branch = main
[submodule "submodules/interface-spec"]
	path = submodules/interface-spec
	url = https://github.com/thebigfilecom/interface-spec.git
	branch = public
[submodule "submodules/samples"]
	path = submodules/samples
	url = https://github.com/thebigfilecom/examples.git
[submodule "submodules/dfxvm"]
	path = submodules/dfxvm
	url = https://github.com/thebigfilecom/dfxvm.git
[submodule "submodules/response-verfication"]
	path = submodules/response-verfication
	url = https://github.com/dfinity/response-verification
