.container {
    position: fixed;
    left: 49vw;
    bottom: 0;
    width: 2vw;
    white-space: pre;
    @apply z-30;
}

.desktopContainer {
    display: flex;
    bottom: 0;
    margin: 0 auto calc(env(safe-area-inset-bottom) + 20px) auto;
    justify-content: center;
    @apply z-30;
}

.mobileMenu span {
    margin: 12px auto;
}

.mobileMenu a {
    color: white;
    text-decoration: none;
    margin: 12px auto
}

.grid {
    display: flex;
    padding: 16px 12px;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, .5);
    backdrop-filter: blur(20px);
    border-radius: 30px;
    color: white;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    transition: all var(--ifm-transition-custom-speed) var(--ifm-transition-custom-curve);
}

.grid a {
    margin: 0 12px;
    color: white;
    text-decoration: none;
}

.grid a:hover {
    color: rgba(182, 182, 182, 1);
    text-decoration: none;
}

.mobileMenu {
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    bottom: 0;
    display: flex;
    padding: 0 60px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, .5);
    backdrop-filter: blur(20px);
    color: white;
    -webkit-backface-visibility: hidden;
    @apply z-50;
}
.borderRadius50 {
    border-radius: 50px;
}
.borderRadius12 {
    border-radius: 12px;
}
.mobileMenuOpen {
    display: flex;
    padding: 12px 0;
}
.mobileMenuClose {
    display: flex;
    padding: 12px 24px;
}
.mobileMenuOpen::after {
    content: '';
    width: 16px;
    height: 16px;
    display: flex;
    align-self: center;
    margin-left: 8px;
    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 10.6669L12.6669 6.00001L14 7.33313L8 13.3331L2 7.33313L3.33312 6.00001L8 10.6669Z' fill='white'/%3E%3C/svg%3E%0A") no-repeat
}

.mobileMenuClose::before {
    content: '';
    width: 22px;
    height: 22px;
    display: flex;
    align-self: center;
    margin: auto;
    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 6.66688L12.6669 2L14 3.33312L9.33312 8L14 12.6669L12.6669 14L8 9.33312L3.33312 14L2 12.6669L6.66688 8L2 3.33312L3.33312 2L8 6.66688Z' fill='white'/%3E%3C/svg%3E%0A") no-repeat
}

